*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}
.trending-gifos img {
    width: 357px;
    height: 275px;
}
.gifos-box-button1 {
    background: url("../assets/icon-fav.svg");
    width: 32px;
    height: 32px;
}
.gifos-box-button2 {
    background: url("../assets/icon-download.svg");
    width: 32px;
    height: 32px;
}
.gifos-box-button3 {
    background: url("../assets/icon-max-normal.svg");
    width: 32px;
    height: 32px;
}